#branding-nav{
    background-color: black;
    transition: ease;
}

#branding-nav a{
    color: white;
    transition: ease;
}

#CV-cont-sites{
    border-right: solid 1px black;
    border-left: none;
    background-color: white;
    cursor: pointer;
    display: flex;
}

#CV-cont-sites a{
    display: inline-flex;
    align-items: center;
}

#CV-label-sites{
    font-size: small;
    color:rgb(70, 70, 70);
    text-decoration: none;
    display: none;
    transition: ease;
}

#CV-cont-sites:hover #CV-label-sites{
   display: block;
   padding-left: 10px;
   transition: ease;
}

#branding-menu-cont{
    display: grid;
    position: fixed;
    width: 100vw;
    height: calc(100vh - 60px);
    margin-top: 60px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50% 50%;
    align-items: center;
    font-size: 90%;
    text-transform: uppercase;
    border-left: solid 0.5px black;
    border-right: solid 0.5px black;
}

.branding-menu-item{
    border: solid 0.5px black;
    border-bottom: solid 1px black;
    border-top: none;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: none;
    cursor: pointer;
}

#branding-menu-wilson.showme{
    background-image: url('/lbd/assets/img/work/branding/branding-menu/LBD-Wilson.jpg');
    background-size: cover;
    background-position: center;
}

#branding-menu-am.showme{
    background-image: url('/lbd/assets/img/work/branding/branding-menu/LBD-AM.jpg');
    background-size: cover;
    background-position: center;
}

#branding-menu-tdr.showme{
    background-image: url('/lbd/assets/img/work/branding/branding-menu/LBD-TDR.jpg');
    background-size: cover;
    background-position: center;
}

#branding-menu-boozery.showme{
    background-image: url('/lbd/assets/img/work/branding/branding-menu/LBD-Boozery.jpg');
    background-size: cover;
    background-position: center;
}

#branding-menu-lampedusa.showme{
    background-image: url('/lbd/assets/img/work/branding/branding-menu/LBD-lampedusa.jpg');
    background-size: cover;
    background-position: center;
}

#branding-menu-frosty.showme{
    background-image: url('/lbd/assets/img/work/branding/branding-menu/LBD-frosty.jpg');
    background-size: cover;
    background-position: center;
}

#branding-menu-wilson.showme p,
#branding-menu-am.showme p,
#branding-menu-tdr.showme p,
#branding-menu-lampedusa.showme p,
#branding-menu-boozery.showme p,
#branding-menu-frosty.showme p{
    display: none;
}


#branding-wilson,
#branding-menu-back,
#branding-am,
#branding-frosty,
#branding-lampedusa,
#branding-boozery,
#branding-tdr{
    display: none;
}

#branding-wilson.showme,
#branding-am.showme,
#branding-frosty.showme,
#branding-lampedusa.showme,
#branding-boozery.showme,
#branding-tdr.showme{
    display: block;
    grid-column-start: 2;
    grid-column-end: span 2;
    grid-row-start: 1;
    grid-row-end: span 2;
}

#branding-menu-back.showme{
    display: flex;
    grid-column-start: 1;
    grid-column-end: span 1;
    grid-row-start: 2;
    grid-row-end: span 1;
}

#branding-menu-back:hover{
    /* text-decoration: underline; */
    cursor: pointer;
    background-color: black;
    color: white;
}

.swiper{
    width: 100%;
    height: 100%;
}

.swiper-pagination{
    position: fixed !important;
    bottom: 0px !important;
    width: calc((100vw / 3) * 2) !important;
    height: 60px !important;
    display: flex;
    justify-content: center;
    margin-left: calc((100vw / 3) / 2) !important;
    align-items: center;
}

@media all and (max-width: 1000px){
    #branding-menu-cont {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
    }
}

@media all and (max-width: 576px){
    #branding-menu-cont {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
    .branding-menu-item{
        width: 100vw;
    }
    .swiper-container{
        flex-direction: column;
        width: 100vw;
    }
    .swiper-pagination{
        position: relative !important;
        width: 100vw !important;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 0px !important;
        height: 60px !important;
        /* bottom: 0px !important; */
        border-top: solid 1px black;
        /* left: 0px !important; */
        /* transform: translateX(0%) !important; */
        /* border-top: none; */
    }
    .swiper-wrapper{
        height: calc(100% - 60px) !important;
    }
}


