#branding-nav{
    background-color: black;
    transition: ease;
}

#branding-nav a{
    color: white;
    transition: ease;
}

#CV-cont-sites{
    border-right: solid 1px black;
    border-left: none;
    background-color: white;
    cursor: pointer;
    display: flex;
}

#CV-cont-sites a{
    display: inline-flex;
    align-items: center;
}

#CV-label-sites{
    font-size: small;
    color:rgb(70, 70, 70);
    text-decoration: none;
    display: none;
    transition: ease;
}

#CV-cont-sites:hover #CV-label-sites{
   display: block;
   padding-left: 10px;
   transition: ease;
}

#branding-menu-cont{
    display: grid;
    position: fixed;
    width: 100vw;
    height: calc(100vh - 60px);
    margin-top: 60px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50% 50%;
    align-items: center;
    font-size: 90%;
    text-transform: uppercase;
    /* border-left: solid 0.5px black; */
    /* border-right: solid 0.5px black; */
}

.branding-menu-item{
    border: solid 0.5px black;
    border-bottom: solid 1px black;
    border-top: none;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: none;
}

#branding-menu-wilson,
#branding-menu-am,
#branding-menu-tdr,
#branding-menu-boozery,
#branding-menu-lampedusa,
#branding-menu-frosty{
    background-size: cover;
    background-position: center;
    filter: grayscale(100%);
    color: white;
    transition: ease 0.5s;
    cursor: none;
}
#branding-menu-am{
    filter: opacity(95%);
    transition: ease 0.5s;
}
#branding-menu-wilson{
    background-image: url('/assets/img/work/branding/branding-menu/LBD-Wilson.jpg');
}
#branding-menu-am{
    background-image: url('/assets/img/work/branding/branding-menu/LBD-AM.jpg');
}
#branding-menu-tdr{
    background-image: url('/assets/img/work/branding/branding-menu/LBD-TDR.jpg');
}
#branding-menu-boozery{
    background-image: url('/assets/img/work/branding/branding-menu/LBD-Boozery.jpg');
}
#branding-menu-lampedusa{
    background-image: url('/assets/img/work/branding/branding-menu/LBD-lampedusa.jpg');
}
#branding-menu-frosty{
    background-image: url('/assets/img/work/branding/branding-menu/LBD-frosty.jpg');
}

#branding-menu-wilson.showme,
#branding-menu-am.showme,
#branding-menu-tdr.showme,
#branding-menu-boozery.showme,
#branding-menu-lampedusa.showme,
#branding-menu-frosty.showme{
    filter: grayscale(0%);
    transition: ease 0.5s;
}
#branding-menu-am.showme{
    filter:opacity(100%);
    transition: ease 0.5s;
}
#branding-menu-wilson.open,
#branding-menu-am.open,
#branding-menu-tdr.open,
#branding-menu-boozery.open,
#branding-menu-lampedusa.open,
#branding-menu-frosty.open{
    background-image: none;
    cursor: default;
}
#branding-menu-wilson.open p,
#branding-menu-am.open p,
#branding-menu-tdr.open p,
#branding-menu-lampedusa.open p,
#branding-menu-boozery.open p,
#branding-menu-frosty.open p{
    display: block;
    color: black;
}
#branding-menu-wilson p,
#branding-menu-am p,
#branding-menu-tdr p,
#branding-menu-lampedusa p,
#branding-menu-boozery p,
#branding-menu-frosty p{
    display: none;
}
#branding-wilson,
#branding-menu-back,
#branding-am,
#branding-frosty,
#branding-lampedusa,
#branding-boozery,
#branding-tdr{
    display: none;
}
#branding-menu-back{
    transition: ease 0.5s;
}

#branding-menu-wilson:hover > #hover-cursor-wilson,
#branding-menu-am:hover > #hover-cursor-am,
#branding-menu-lampedusa:hover > #hover-cursor-lampedusa,
#branding-menu-boozery:hover > #hover-cursor-boozery,
#branding-menu-tdr:hover > #hover-cursor-tdr,
#branding-menu-frosty:hover > #hover-cursor-frosty{
    display: block;
}
#hover-cursor-wilson,
#hover-cursor-am,
#hover-cursor-lampedusa,
#hover-cursor-boozery,
#hover-cursor-tdr,
#hover-cursor-frosty{
    display: none;
    position: absolute;
    width: 50px;
    height: 30px;
}

#branding-wilson.showme,
#branding-am.showme,
#branding-frosty.showme,
#branding-lampedusa.showme,
#branding-boozery.showme,
#branding-tdr.showme{
    display: block;
    grid-column-start: 2;
    grid-column-end: span 2;
    grid-row-start: 1;
    grid-row-end: span 2;
    height: calc(100vh - 60px);
    padding-bottom: 59px;
    border-right: none;
}

#branding-menu-back.showme{
    display: flex;
    grid-column-start: 1;
    grid-column-end: span 1;
    grid-row-start: 2;
    grid-row-end: span 1;
}

#branding-menu-back:hover{
    /* text-decoration: underline; */
    cursor: pointer;
    background-color: black;
    color: white;
}

.swiper{
    width: 100%;
    height: 100%;
}

.swiper-pagination{
    position: fixed !important;
    bottom: 0px !important;
    width: calc((100vw / 3) * 2) !important;
    height: 60px !important;
    display: flex;
    justify-content: center;
    margin-left: calc(100vw / 3) !important;
    align-items: center;
    border-top: solid 1px black;
}

@media all and (max-width: 1000px){
    #branding-menu-cont {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
    }
    .swiper-pagination{
        width: 50vw !important;
        left: 50% !important;
        transform: translateX(0%) !important;
        margin-left: 0px !important;
    }
}

@media all and (max-width: 576px){
    #branding-menu-cont {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
    .branding-menu-item{
        width: 100vw;
        border-left: none;
        border-right: none;
    }
    .swiper-container{
        flex-direction: column;
        width: 100vw;
    }
    .swiper-pagination{
        position: relative !important;
        width: 100vw !important;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 0px !important;
        height: 60px !important;
        /* bottom: 0px !important; */
        border-top: solid 1px black;
        border-right: none;
        left: 0px !important;
        /* transform: translateX(0%) !important; */
        /* border-top: none; */
    }
    .swiper-wrapper{
        height: calc(100% - 60px) !important;
    }
    #branding-wilson.showme,
    #branding-am.showme,
    #branding-frosty.showme,
    #branding-lampedusa.showme,
    #branding-boozery.showme,
    #branding-tdr.showme{
        height: 100%;
        padding-bottom: 0px;
    }
}


