#branding-menu{
    background-color: black;
    transition: ease;
}

#branding-menu a{
    color: white;
    transition: ease;
}

#CV-cont-sites{
    border-right: solid 1px black;
    border-left: none;
    background-color: white;
    cursor: pointer;
    display: flex;
}

#CV-cont-sites a{
    display: inline-flex;
    align-items: center;
}

#CV-label-sites{
    font-size: small;
    color:rgb(70, 70, 70);
    text-decoration: none;
    display: none;
    transition: ease;
}

#CV-cont-sites:hover #CV-label-sites{
   display: block;
   padding-left: 10px;
   transition: ease;
}
/* 
#editorial-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100vw;
    height: 100vh;
    align-items: center;
} */

/* #editorial-img-cont{
    display: flex;
    width: 100vw;
    height: 100vh;
    border-bottom: solid 1px black;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
} */
/* 
#editorial-img-cont img{
    width: 70%;
} */

#branding-menu-cont{
    display: grid;
    position: fixed;
    width: 100vw;
    height:100vh;
    margin-top: 30px;
    grid-template-columns: auto auto auto;
    grid-template-rows: 50vh 50vh;
    align-items: center;
    text-transform: uppercase;
    /* border-bottom: solid 1px black; */
}

.branding-menu-item{
    border: solid 0.5px black;
    border-bottom: solid 1px black;
    border-top: none;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* 
#editorial-menu-cont li{
    display: inline-block;
    padding: 10px;
}

#editorial-menu-cont li:hover{  
    text-decoration: underline;
    cursor: pointer;
}

.ed-img-item{
    display: none;
    filter: grayscale(100%);
    transition: ease;
}
#este-img-cont{
    display: block;
}
.ed-img-item:hover{
    filter: grayscale(0%);
}
 */
