#editorial-nav{
    background-color: black;
    transition: ease;
}

#editorial-nav a{
    color: white;
    transition: ease;
}

#CV-cont-sites{
    border-right: solid 1px black;
    border-left: none;
    background-color: white;
    cursor: pointer;
    display: flex;
}

#CV-cont-sites a{
    display: inline-flex;
    align-items: center;
}

#CV-label-sites{
    font-size: small;
    color:rgb(70, 70, 70);
    text-decoration: none;
    display: none;
    transition: ease;
}

#CV-cont-sites:hover #CV-label-sites{
   display: block;
   padding-left: 10px;
   transition: ease;
}

#editorial-container{
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: calc(100vh - 60px);
    padding-top: 60px;
    align-items: flex-start;
}

#editorial-img-cont{
    display: flex;
    width: 70vw;
    border-left: solid 1px black;
    height: calc(100vh - 60px);
    align-items: center;
    justify-content: center;
    padding-bottom: 60px;
}

#editorial-menu-ngv{
    height: 100%;
    width: auto;
}


#editorial-menu-cont{
    font-size: 110%;
    line-height: 140%;
    text-align: left;
    display: flex;
    flex-direction: column;
    margin: 15px 0px 0px 20px;
    cursor: pointer;
}

#editorial-menu-cont a{
    text-transform:none !important;
}

.editorial-menu-item.active{
    text-decoration: underline;
}

.editorial-menu-item:hover{
    text-decoration: underline; 
}

button{
    border: none;
    background-color: white;
    text-align: left;
    
}

.ed-img-item{
    display: none;
    filter: grayscale(100%);
    transition: ease;
}
#este-img-cont{
    display: block;
}
.ed-img-item:hover{
    filter: grayscale(0%);
}

.swiper{
    width: 100%;
    height: 100%;
}

.swiper-pagination{
    position: fixed !important;
    bottom: 0px !important;
    width: 70vw !important;
    height: 60px !important;
    margin-left: 15vw !important;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: solid 1px black !important;
    /* border-left: solid 1px black; */
}

.swiper-pagination-bullet{
    width: var(--swiper-pagination-bullet-width,var(--swiper-pagination-bullet-size,6px)) !important;
    height: var(--swiper-pagination-bullet-height,var(--swiper-pagination-bullet-size,6px)) !important;
    display: inline-block !important;
    border-radius: 50% !important;
    background: black !important;
    border: solid 1px black !important;
    opacity: 1 !important;
}

.swiper-pagination-bullet-active{
    width: var(--swiper-pagination-bullet-width,var(--swiper-pagination-bullet-size,6px)) !important;
    height: var(--swiper-pagination-bullet-height,var(--swiper-pagination-bullet-size,6px)) !important;
    display: inline-block !important;
    border-radius: 50% !important;
    background: black !important;
    opacity: 1 !important;
}

.swiper-slide{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: ;
}

/* .swiper.showme{
    display: block;
    opacity: 1;
} */

#swiper-este,
#swiper-am,
#swiper-hyphen,
#swiper-drake{
    display: none;
    opacity: 0;
    transition: ease 2s;
}

#swiper-este.showme,
#swiper-am.showme,
#swiper-hyphen.showme,
#swiper-drake.showme{
    display: flex;
    opacity: 1;
    transition: ease 2s;
}
