#editorial-menu{
    background-color: black;
    transition: ease;
}

#editorial-menu a{
    color: white;
    transition: ease;
}

#CV-cont-sites{
    border-right: solid 1px black;
    border-left: none;
    background-color: white;
    cursor: pointer;
    display: flex;
}

#CV-cont-sites a{
    display: inline-flex;
    align-items: center;
}

#CV-label-sites{
    font-size: small;
    color:rgb(70, 70, 70);
    text-decoration: none;
    display: none;
    transition: ease;
}

#CV-cont-sites:hover #CV-label-sites{
   display: block;
   padding-left: 10px;
   transition: ease;
}

#editorial-container{
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 100vh;
    align-items: flex-start;
}

#editorial-img-cont{
    display: flex;
    width: 70vw;
    border-left: solid 1px black;
    height: 100vh;
    align-items: center;
    justify-content: center;
    padding-top: 60px;
}

#editorial-menu-ngv{
    height: 100%;
    width: auto;
}


#editorial-menu-cont{
    /* width: 50vw; */
    /* height: 100vh; */
    font-size: 110%;
    line-height: 140%;
    text-align: left;
    text-transform: uppercase;
    margin: 75px 0px 0px 20px;
}

#editorial-menu-cont li:hover{  
    text-decoration: underline;
    cursor: pointer;
}

.ed-img-item{
    display: none;
    filter: grayscale(100%);
    transition: ease;
}
#este-img-cont{
    display: block;
}
.ed-img-item:hover{
    filter: grayscale(0%);
}

