@media all and (max-width: 1000px){
    #design-menu{
        display: flex;
    }
    #right-cont{
        width: 90vw;    
        padding: 25px 0px 20px 0px;
        bottom: 0px;
        height: 40vh;
    }
    #project-list{
        width: calc(100vw - 40px);
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
    }
    #project-list li{
        padding-left: 8px;
    }
    .swiper-arrows-cont-two{
        margin-top: 0px;
    }
    #description{
        margin-top: 10px;
        width: 100%;
    }
    #swiper-container{
        width: 100vw;
        height: 60vh;
    }
    .swiper{
        width: 100vw;
        height: 60vh;
        position: fixed;
        top: 0px;
        bottom: 0px;
        left: 0px;
        overflow-y: hidden;
        z-index: -1;
    }
    .swiper-wrapper{
        padding-right: 0px;
    }
    #logo-home-btn{
        position: fixed;
        top: 20px;
    }
    #about-move{
        width: 200vw;
    }
}
