#website-nav{
    background-color: black;
    transition: ease;
}

#website-nav a{
    color: white;
    transition: ease;
}

#CV-cont-sites{
    border-right: solid 1px black;
    border-left: none;
    background-color: white;
    cursor: pointer;
    display: flex;
}

#CV-cont-sites a{
    display: inline-flex;
    align-items: center;
}

#CV-label-sites{
    font-size: small;
    color:rgb(70, 70, 70);
    text-decoration: none;
    display: none;
    transition: ease;
}

#CV-cont-sites:hover #CV-label-sites{
   display: block;
   padding-left: 10px;
   transition: ease;
}

#websites-container{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    z-index: -1;
    width: 100vw;
    height: calc(100vh - 60px);
    padding-top: 60px;
    text-decoration: none !important;
}

#websites-container a{
    text-decoration: none !important;
}


#search-bar{
    width: calc(2000px / 2.5);
    height: 20px;
    border: solid 1px black;
    display: inline-flex;
    align-items: center;
    border-radius: 8px 8px 0px 0px;
    padding: 8px;
}

#website-display{
    width: calc(2000px / 2.5);
    height: calc((1114px / 2.5) + 20px);
    border: solid 1px black;
    border-top: none;
    /* width: 100%; */
    /* height: calc(1114px / 2.5); */
    width: calc(2000px / 2.5);
    height: calc(1114px / 2.5);
    text-decoration: none !important;
    transition: ease 0.5s;
    cursor: pointer;
}

#initial-text{
    padding: 10px;
}

#hover-grid{
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
}

.search-bar-circle{
    width: 10px;
    height: 10px;
    margin-right: 3px;
    border: solid 1px black;
    border-radius: 50%;
}

.site-text{
    text-transform: uppercase;
    font-style: normal;
    padding-top: 5px;
    visibility: hidden;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    line-height: 1;
    font-weight: 500;
    font-style: normal;
    font-size: 90%;
    letter-spacing: initial;
    text-decoration: none !important;
}

.role{
    align-self: flex-end;
    line-height: 1;
    text-decoration: none !important;
}

#websites-container div:hover .site-text{
    visibility: visible;
    text-decoration: none !important;
}

#footer{
    height: 120px;
    width: 100vw;
    position: fixed;
    bottom: 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    text-transform: uppercase;
}

#websites-menu-cont{
    height: 60px;
    font-size: 90%;
    line-height: 120%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    border-top: solid 1px black;
}

#websites-menu-cont ul{
    width: 100vw;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* border-top: solid 1px black; */
    /* border-bottom: solid 1px black; */
}

#websites-menu-cont li{
    border: solid 0.5px black;
    border-top: none;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.websites-menu-item{
    border-bottom: solid 1px black;
    padding: 20px;
}

.websites-menu-item.active{
    text-decoration: underline;
    text-underline-offset: 1px;
}

.websites-menu-item:hover{
    text-decoration: underline; 
    text-underline-offset: 1px;
}

#website-role{
    text-transform: uppercase;
    font-size: 90%;
    display: none;
    width: 100vw;
    height: 60px;
    justify-content: center;
    align-items: center;
    /* border-bottom: solid 1px black; */
    border-top: solid 0.5px black;
}

#website-role div{
    margin: 0px;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 0.5px black;
    border-bottom: none;
}
.websites-role-item{
    padding: 20px;
}

#role-design.showme,
#role-development.showme{
   color: white;
   background-color: black;
}

#website-role.showme{
    display: inline-flex;
}

#main-website-cont{
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    padding-top: 60px;
}

@media all and (max-width: 1000px){
    #website-display{
        width: calc(2000px / 3);
        height: calc(1114px / 3);
    }
    
    #search-bar{
        width: calc(2000px / 3);
    }
}

@media all and (max-width: 768px){
    #website-display{
        width: calc(2000px / 4);
        height: calc(1114px / 4);
    }
    #search-bar{
        width: calc(2000px / 4);
    }
    #footer{
        height: auto;
    }
    #websites-menu-cont{
        height: auto;
    }
    #websites-menu-cont ul{
        width: 100vw;
        display: flex;
        flex-direction: column;
    }
    #websites-menu-cont li{
        border: solid 1px black;
        border-top: none;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
    #websites-container{
        height: 100%;
        padding: 60px 0px;
    }

    #main-website-cont{
        justify-content: flex-end;
    } 
}

@media all and (max-width: 576px){
    #website-display{
        width: calc(2000px / 6);
        height: calc(1114px / 6);
    }
    #search-bar{
        width: calc(2000px / 6);
    }
    #initial-text{
        font-size: 90%;
    }
}