@font-face {
    font-family: Magnet-Light;
    src: url(/assets/type/magnet/Magnet-Light.woff);
  }
  @font-face {
    font-family: Magnet-Light-Italic;
    src: url(/assets/type/magnet/Magnet-LightItalic.woff);
  }
@font-face {
    font-family: Magnet-Regular;
    src: url(/assets/type/magnet/Magnet-Regular.woff);
  }
  
body{
    width: 100%;
    margin: 0% auto;
    font-family: Magnet-Light, sans-serif;
    font-weight: lighter;
}

html {
    scroll-behavior: smooth;
  }

p{
    font-weight: 400;
    font-style: normal;
}

header{
    position: fixed;
    z-index: 100;
    background-color: white;
}

header a{
    letter-spacing: 0.5px;
}

a{
    font-weight: 400;
    font-style: normal;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
}
a:hover{
    text-decoration: underline;
}
a:visited{
    color: black;
}

#header-container{
    position: fixed;
    width: 100vw;
    height: 60px;
    top: 0%;
    display: inline-flex;
    justify-content: space-between;
    border-top: solid 1px black;
    border-bottom: solid 1px black;
    z-index: 99;
}

.nav-cont{
    display: inline-flex;
    align-items: center;
}

.nav-item{
    padding: 0px 20px;
    height: 100%;
    border: solid 0.5px black;
    border-bottom: 0px;
    border-top: 0px;
    min-width: 50px;
    font-size: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

#logo{
    background-color: white;
    padding: 0px 10px;
}

#pause-container{
    background-color: white;
    height: 59px;
    border: solid 0.5px black;
    border-right: solid 1px black;
  }

/* pause */
#pause{
    width: 12px;
    height: 15px;
    border: 0px;
    border-left: solid 1.45px black;
    border-right: solid 1.45px black;
}

/* play */
#pause.showme{
    height: 15px;
    border-left: solid 1.25px black;
    border-right: 0px;
    border-top: 10px solid transparent;
    border-left: 12px solid;
    border-bottom: 10px solid transparent;
}

#home-nav{
    border-left: solid 1.25px black;
}

#about-move{
    width: 100vw;
    height: 60px;
    z-index:- 1;
    display: flex;
    align-items: center;
    -moz-transform:translateX(50%);
    -webkit-transform:translateX(50%);    
    transform:translateX(100%);
    /* Apply animation to this element */  
    -moz-animation: aboutMoveLinear 20s linear infinite;
    -webkit-animation: aboutMoveLinear 20s linear infinite;
    animation: aboutMoveLinear 20s linear infinite;
}
#about-move p{
    text-transform: uppercase;
    font-size: 80%;
}

/* Move it (define the animation) */
@-moz-keyframes aboutMoveLinear {
    0%   { -moz-transform: translateX(110%); 
                transform: translate(110%)}
    100% { -moz-transform: translateX(-30%); 
                transform: translate(-30%)}
}
@-webkit-keyframes aboutMoveLinear {
    0%   { -webkit-transform: translateX(110%); 
                    transform: translate(110%)}
    100% { -webkit-transform: translateX(-30%); 
                    transform: translate(-30%)}
}
@keyframes aboutMoveLinear {
    0%   { 
    -moz-transform: translateX(110%); /* Firefox bug fix */
    -webkit-transform: translateX(110%); /* Firefox bug fix */
    transform: translateX(110%);       
    }
    100% { 
    -moz-transform: translateX(-30%); /* Firefox bug fix */
    -webkit-transform: translateX(-30%); /* Firefox bug fix */
    transform: translateX(-30%); 
    }
}

#circle-container{
    position: fixed;
    width: 100vw;
    margin-top: 30px;
    height: calc(100vh - 60px);
    display: flex;
    justify-content:center;
    align-items:center;
    z-index: -3;
}

.circle-text{
    position:fixed;
    line-height:inherit;
    height: 250px;
    width: 250px;
    font-size:90%;
    text-transform: uppercase;
    font-style: normal;
    -moz-animation: spinCircleText 20s infinite;
    -webkit-animation: spinCircleText 20s infinite;
    animation: spinCircleText 20s infinite;
    }

/* Move it (define the animation) */
@-moz-keyframes spinCircleText {
  0%   { -moz-transform: rotate(0deg); 
              transform: rotate(0deg)}
  100% { -moz-transform: rotate(360deg); 
              transform: rotate(360deg)}
}
@-webkit-keyframes spinCircleText {
  0%   { -webkit-transform:  rotate(0deg); 
                  transform: rotate(0deg)}
  100% { -webkit-transform:  rotate(360deg); 
                  transform: rotate(360deg)}
}
@keyframes spinCircleText {
  0%   { 
  -moz-transform: rotate(0deg); /* Firefox bug fix */
  -webkit-transform: rotate(0deg); /* Firefox bug fix */
  transform: rotate(0deg);       
  }
  100% { 
  -moz-transform: rotate(360deg); /* Firefox bug fix */
  -webkit-transform: rotate(360deg); /* Firefox bug fix */
  transform: rotate(360deg); 
  }
}
  
  .circle-text span{
    min-width:0.15em;
    text-align:center;
    padding:0;
    margin:0;
  }

  #logo-cont{
    position: fixed;
    z-index: 1;
    width: 250px;
    height: 250px;
    display: flex;
    justify-content:center;
    align-items:center;
    font-size:90%;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
    line-height: 125%;
  }


#CV-cont{
    position:fixed;
    left:40px;
    bottom: 40px;
    text-align: center;
    cursor: pointer;
    z-index: 200;
}
#cv-label{
    font-size: 70%;
    color:rgb(70, 70, 70);
    text-decoration: none;
    text-transform: uppercase;
}

#CV-cont:hover #cv-label{
    text-decoration: underline;
}


#cover-cont{
    position:fixed;
    left:140px;
    bottom: 40px;
    text-align: center;
    cursor: pointer;
    z-index: 200;
}
#cover-label{
    font-size: 70%;
    color:rgb(70, 70, 70);
    text-decoration: none;
    text-transform: uppercase;
}

#cover-cont:hover #cover-label{
    text-decoration: underline;
}

#docs-cont{
    position: fixed;
    margin-top: 120px;
    display: flex;
    width: 100vw;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#docs-cont p{
    font-size: 90%;
    line-height: 120%;
}

#ref-ital{
    font-family: Magnet-Light-Italic;
    font-style: italic;
    padding-top: 5px;
}

#cv-grid-cont{
    width: 40vw;
    height: 80vh;
    overflow: scroll;
    border: solid 1px black;
    background-color: white;
    padding: 20px;
    justify-content: start;
    align-content: start;
    gap: 5px;
    line-height: 130%;
}

#cv-close-cont{
    display: none;
}

#cv-close-cont.showme{
    display: flex;
}

#cv-grid-cont h1{
    text-transform: uppercase;
    font-weight: 400;
}
#cv-grid-cont h3{
    text-transform: uppercase;
    font-weight: 400;
    padding: 5px 0px;
    margin-top: 10px;
    font-size: 90%;
    border-top: solid 1px black;
}

#fine-line{
    margin: 2px 0px 4px;
    border-top: solid 0.5px black;
}

#cv-grid-cont p{
    font-size: 90%;
    line-height: 130%;
    padding-bottom: 5px;
}

.cv-grid-row{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 15px;
}

#span-2{
    grid-column-end: span 2;
}

#cover-letter-cont{
    justify-content: center;
    display: none;
    /* padding-left: 300px; */
}

#cover-letter-cont.showme{
    display: flex;
}

.close{
    padding-right: 10px;
    position: relative;
    top: 8px;
    left: calc(100% - 70px);
    cursor: pointer;
}

.close-word{
    visibility: hidden;
}

.close:hover .close-word{
    visibility: visible;
}

#cover-letter{
    width: 40vw;
    height: 80vh;
    overflow: scroll;
    border: solid 1px black;
    padding: 20px;
    background-color: white;
}

/* width */
#cover-letter-cont ::-webkit-scrollbar {
  width: 5px;
}

/* Track */
/* #cover-letter-cont ::-webkit-scrollbar-track {
  background: black;
  border-radius: 5px;
} */

/* Handle */
#cover-letter-cont ::-webkit-scrollbar-thumb {
  background: black;
  display: none;
}

/* Handle on hover */
#cover-letter-cont:hover ::-webkit-scrollbar-thumb{
 display: block;
}