body{
    width: 100%;
    margin: 0% auto;
}

@font-face {
    font-family: "SuisseIntlMono-Reg";
    src: url(assets/type/SuisseIntlMono-Regular-WebS.woff); 
  }

  @font-face {
    font-family: "SuisseIntlMono-Bold";
    src: url(assets/type/SuisseIntlMono-Bold-WebS.woff); 
  }

  @font-face {
    font-family: "Necto-Mono";
    src: url(assets/type/Necto-Mono.woff2); 
  }


p{
    /* font-family: "SuisseIntlMono-Reg"; */
    font-family: covik-sans, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 120%;
}


#about-move{
    position: fixed;
    top: 70%;
    width: 100%;
    z-index: 99;
    /* Starting position */  
    -moz-transform:translateX(50%);
    -webkit-transform:translateX(50%);    
    transform:translateX(100%);
    /* Apply animation to this element */  
    -moz-animation: example1 25s linear infinite;
    -webkit-animation: example1 25s linear infinite;
    animation: example1 25s linear infinite;
}
/* Move it (define the animation) */
@-moz-keyframes example1 {
    0%   { -moz-transform: translateX(100%); 
                transform: translate(100%)}
    100% { -moz-transform: translateX(-100%); 
                transform: translate(100%)}
}
@-webkit-keyframes example1 {
    0%   { -webkit-transform: translateX(100%); 
                    transform: translate(100%)}
    100% { -webkit-transform: translateX(-100%); 
                    transform: translate(100%)}
}
@keyframes example1 {
    0%   { 
    -moz-transform: translateX(100%); /* Firefox bug fix */
    -webkit-transform: translateX(100%); /* Firefox bug fix */
    transform: translateX(100%);       
    }
    100% { 
    -moz-transform: translateX(-100%); /* Firefox bug fix */
    -webkit-transform: translateX(-100%); /* Firefox bug fix */
    transform: translateX(-100%); 
    }
}


#CV-icon{
    position:fixed;
    left:40px;
    bottom: 40px;
    text-align: center;
    cursor: pointer;
}
#cv-label{
    font-size: small;
    color:rgb(70, 70, 70);
    text-decoration: none;
}

#cv-label:hover{
    text-decoration: underline;
}

#scroll{
    width: 10%;
    display: flex;
    align-content: center;
    justify-content: center;
    height: 300px;
    width: 100vw;

}

#scroll p{
   align-self: center;
   justify-self: center;
}

#grid-container{
    margin: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    row-gap: 30px;
}

.item-1{
    grid-column-start: 4;
    grid-column-end: span 2;
    z-index: -99;
}
.item-2{
    grid-column-start: 2;
    grid-column-end: span 3;
}
.item-3{
    grid-column-start:  4;
    grid-column-end: span 2;
}
.item-4{
    grid-column-start:  1;
    margin-left: 200px;
}
.item-5{
    grid-column-start:  1;
    grid-column-end: span 5;
    display: flex;
    margin: 100px 0px;
}
#glitch{
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    justify-content: space-around;

}
.item-6{
    grid-column-start:  5;
    place-self: end;
    margin-top: 100px;
    margin-right: -75px;
}