.swiper{
    width: 100%;
    height: 100%;
}


.swiper-pagination-bullet{
    width: var(--swiper-pagination-bullet-width,var(--swiper-pagination-bullet-size,6px)) !important;
    height: var(--swiper-pagination-bullet-height,var(--swiper-pagination-bullet-size,6px)) !important;
    display: inline-block !important;
    border-radius: 50% !important;
    background: white !important;
    border: solid 1px black !important;
    opacity: 1 !important;
}

.swiper-pagination-bullet-active{
    width: var(--swiper-pagination-bullet-width,var(--swiper-pagination-bullet-size,6px)) !important;
    height: var(--swiper-pagination-bullet-height,var(--swiper-pagination-bullet-size,6px)) !important;
    display: inline-block !important;
    border-radius: 50% !important;
    background: black !important;
    opacity: 1 !important;
}

.swiper-slide{
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
}

#initial-text.hide{
    display: none;
}

.left-bottom{
    background-position: left bottom !important;
}

.right-top{
    background-position: right top !important;
}

.right-bottom{
    background-position: right bottom !important;
}

.bottom{
    background-position: bottom !important;
}

.swiper-button-prev,
.swiper-button-next{
    content: "" !important;
    top: 0% !important;
    width: 50px !important;
    height: 20px !important;
    font-size: 100% !important;
    color: black !important;
}