.swiper{
    width: 100%;
    height: 100%;
}


.swiper-pagination-bullet{
    width: var(--swiper-pagination-bullet-width,var(--swiper-pagination-bullet-size,6px)) !important;
    height: var(--swiper-pagination-bullet-height,var(--swiper-pagination-bullet-size,6px)) !important;
    display: inline-block !important;
    border-radius: 50% !important;
    background: black !important;
    border: solid 1px black !important;
    opacity: 1 !important;
}

.swiper-pagination-bullet-active{
    width: var(--swiper-pagination-bullet-width,var(--swiper-pagination-bullet-size,6px)) !important;
    height: var(--swiper-pagination-bullet-height,var(--swiper-pagination-bullet-size,6px)) !important;
    display: inline-block !important;
    border-radius: 50% !important;
    background: black !important;
    opacity: 1 !important;
}

.swiper-slide{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: ;
}

#initial-text.hide{
    display: none;
}