#websites-nav{
    background-color: black;
    transition: ease;
}

#websites-nav a{
    color: white;
    transition: ease;
}

#CV-cont-sites{
    border-right: solid 1px black;
    border-left: none;
    background-color: white;
    cursor: pointer;
    display: flex;
}

#CV-cont-sites a{
    display: inline-flex;
    align-items: center;
}

#CV-label-sites{
    font-size: small;
    color:rgb(70, 70, 70);
    text-decoration: none;
    display: none;
    transition: ease;
}

#CV-cont-sites:hover #CV-label-sites{
   display: block;
   padding-left: 10px;
   transition: ease;
}

#web-display-container{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    z-index: -1;
    width: 100vw;
    height: calc(100vh - 60px);
    padding-top: 60px;
    text-decoration: none !important;
}

#websites-container a{
    text-decoration: none;
}

#search-bar{
    width: calc(2000px / 2.5);
    height: 20px;
    border: solid 1px black;
    display: inline-flex;
    align-items: center;
    border-radius: 8px 8px 0px 0px;
    padding: 8px;
}

#website-display{
    width: calc(2000px / 2.5);
    height: calc((1114px / 2.5) + 20px);
    border: solid 1px black;
    border-top: none;
    /* width: 100%; */
    /* height: calc(1114px / 2.5); */
    width: calc(2000px / 2.5);
    height: calc(1114px / 2.5);
    text-decoration: none !important;
    transition: ease 0.5s;
    cursor: pointer;
}

#initial-text{
    padding: 10px;
    opacity: 1;
    transition: ease;
}

#hover-grid{
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    z-index: 99;
}

.search-bar-circle{
    width: 10px;
    height: 10px;
    margin-right: 3px;
    border: solid 1px black;
    border-radius: 50%;
}

.site-text{
    text-transform: uppercase;
    font-style: normal;
    padding-top: 5px;
    visibility: hidden;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    line-height: 1;
    font-weight: 500;
    font-style: normal;
    font-size: 90%;
    letter-spacing: initial;
    text-decoration: none !important;
}

#websites-container{
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: calc(100vh - 60px);
    padding-top: 60px;
    align-items: flex-start;
}

#websites-img-cont{
    display: flex;
    width: 70vw;
    border-left: solid 1px black;
    height: calc(100vh - 60px);
    align-items: center;
    justify-content: center;
    padding-bottom: 60px;
}

/* #websites-menu-weather{
    height: 100%;
    width: auto;
} */


#websites-menu-cont{
    font-size: 90%;
    line-height: 120%;
    text-align: left;
    width: 30vw;
    display: flex;
    flex-direction: column;
    /* border-left: solid 1px black; */
    text-transform: uppercase;
    /* margin: 15px 15px 0px 20px; */
    cursor: pointer;
    /* padding-right: 20px; */
}

.websites-menu-item{
    border-bottom: solid 1px black;
    padding: 20px;
}

#am-info,
#hunter-info,
#drake-info,
#code-info,
#weather-info{
    display: none;
}
#am-info.showme,
#hunter-info.showme,
#drake-info.showme,
#code-info.showme,
#weather-info.showme{
    display: block;
}

.websites-menu-item-sub{
    border-bottom: solid 1px black;
    padding: 20px;
    text-transform: none;
    /* font-size: 100%; */
}
.websites-menu-item-sub a{
    text-transform: none;
}
.websites-menu-item-sub a{
    text-transform: none;
}
.websites-menu-item-sub a:hover{
    text-decoration: underline !important;
}

.websites-menu-item.active{
    /* text-decoration: underline;
    text-underline-offset: 1px;
    text-decoration-thickness: 1px; */
    background-color: black;
    color: white;
    /* font-weight: lighter; */
}

.websites-menu-item:hover{
    text-decoration: underline; 
    text-underline-offset: 1px;
}

/* .ed-img-item{
    display: none;
    filter: grayscale(100%);
    transition: ease;
} */
#am-img-cont{
    display: block;
}
/* .ed-img-item:hover{
    filter: grayscale(0%);
} */

/* #swiper-este,
#swiper-am,
#swiper-hyphen,
#swiper-drake{
    display: none;
    opacity: 0;
    transition: ease 2s;
}

#swiper-este.showme,
#swiper-am.showme,
#swiper-hyphen.showme,
#swiper-drake.showme{
    display: flex;
    opacity: 1;
    transition: ease 2s;
} */

/* #initial-text{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
} */

/* 
.swiper-pagination{
    position: fixed !important;
    bottom: 0px !important;
    width: 70vw !important;
    height: 60px !important;
    margin-left: 30vw !important;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: solid 1px black !important;
} */

@media all and (max-width: 768px){
    #menu-mobile{
        display: inline-flex !important;
        border-left: solid 1px black;
    }
    .menu-mobile-hide{
        display: none;
    }
    #menu-mobile:hover{
        text-decoration: underline;
        cursor: pointer;
    }
    #websites-container{
        flex-direction: column-reverse;
        height: 100vh;
    }
    #websites-img-cont{
        width: 100vw;
        border: none;
        border-top: none;
        border-bottom: none;
        padding-bottom: 0px;
    }
    #websites-menu-cont{
        border: solid 1px black;
        border-bottom: none;
        border-left: none;
        border-right: none;
        width: 100vw;
        /* padding: 15px; */
        margin: 0px;
    }
    .swiper-container{
        flex-direction: column;
        width: 100vw;
    }

    .swiper-pagination{
        position: relative !important;
        width: 100vw !important;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 0px !important;
        height: 60px !important;
        bottom: 0px !important;
        border-top: solid 1px black;
        left: 0px !important;
        transform: translateX(0%) !important;
        /* border-top: none; */
    }
}